asgiref==3.3.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
boto3==1.17.74
botocore==1.20.74
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.6
daphne==3.0.2
defusedxml==0.7.1
Django==3.1.7
django-allauth==0.44.0
django-crispy-forms==1.11.1
django-filter==2.4.0
django-rest-framework==0.1.0
django-storages==1.11.1
djangorestframework==3.12.4
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
jmespath==0.10.0
oauthlib==3.1.0
Pillow==8.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.0.1
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.4.2
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.1
Twisted==21.2.0
txaio==21.2.1
urllib3==1.26.3
zope.interface==5.4.0
