<script>
    function removeFriend(id, uiUpdateFunction) {
        payload = {
            "csrfmiddlewaretoken": "{{csrf_token}}",
            "receiver_user_id": id,
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            timeout: 5000,
            url: "{% url 'remove-friend' %}",
            data: payload,
            success: function(data) {
                if(data.response == "Successfully removed that friend") {

                }
                else if(data.response != null) {
                    alert(data.response)
                }
            },
            error: function(data) {
                alert("Something went wrong")
            },
            complete: function(data) {
                uiUpdateFunction()
            },
        })
    }
</script>