.scrolling-wrapper {
	overflow-x: auto;
}

.post-img {
	height: 40px;
    width: 40px;
	object-fit: cover;
}

#date {
	color: rgb(125,144,144)
}

.current-buddies {
	border-top: 1px solid rgba(46,62,72,.12);
	background-color: rgb(246, 247, 248) 
}

.card-block {
	width: 10rem;
	height: 12rem;
	border-radius: 20px;
	background-position: center;
	background-size: cover;
}

#profile-img-card {
	object-fit: cover;
	 height: 80px;
	 width: 80px;
}

.detail-title {
	text-transform: capitalize;
}
