{%extends 'post/base.html'%}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'post/css/home.css' %}">
{% endblock header %}

{% load crispy_forms_tags %}
{%block content%}

<section id="banner">
	<div class="inner">
		<header>
			<h1>Find Your Study Buddies!</h1>
			<p>Made For Students, Built By Students</p>
		</header>
		<a href="#search-form" class="btn btn-primary">Get Started!</a>
	</div>
</section>


<div id="search-form">
	<div class="container pt-3 pb-3">
		<h1 class="pt-3 pb-3 display-5 justify-content-center fw-bold">Search Groups | Post Group!</h1>
		<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button pt-3 pb-3 display-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Search For A Group!
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
<form method="get">
{{myFilter.form|crispy}}
<button class="btn btn-primary mt-3 mb-3" type="submit">Search</button>
</form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button pt-3 pb-3 display-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		  Create A Group!
	  </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
			<h3 class="py-2">Posting A Group</h3>
			{% if user.is_authenticated %}
			{% if user.profile.participating_in %}
				<a class="btn btn-primary" href="{% url 'post-detail' user.profile.participating_in.id %}">My Group</a>
			{% else %}
				<a class="btn btn-primary" href="{% url 'post-create'%}">Create Post</a>
			{% endif %}
			{% endif %}
			{% if user.is_authenticated == False %}
				<a class="btn btn-primary" href="{% url 'login' %}">Please Sign In First</a>
			{% endif %}

      </div>
    </div>
  </div>

		<!-- <h1 class="pt-3 pb-3 display-4 row justify-content-center fw-bold">Search For A Group!</h1> -->
	<!-- <form method="get"> -->
		<!-- {{myFilter.form|crispy}} -->
		<!-- <button class="btn btn-primary mt-3 mb-3" type="submit">Search</button> -->
	<!-- </form> -->
	
</select>
	</div>
</div>
</div>


<div class="container">
	<h1 class="mt-5">Maths & Sciences</h1>
	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

		{% for post in posts %}
		{% if post.subject.category|stringformat:'s' == "Maths & Sciences" %}
		<div class="card card-block m-3 border-0 shadow overflow-auto" style='width:23rem;'>
			<div class="col-sm">
				<div class="card-body">
					<h3><a class="card-title stretched-link" id="title"
							href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
								{{post.subject}}</span></a>
					</h3>
					<p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} - 
					{% if post.quiet_tag %}
						<i class="fas fa-volume-mute"></i>
					{% else %}
						<i class="fas fa-microphone"></i>
					{% endif %}

					{% if post.camera_tag %}
						<i class="fas fa-video-slash"></i>
					{% else %}
						<i class="fas fa-camera"></i>
					{% endif %}
					</p>
					<p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}"> <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
					<p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
				</div>
			</div>
		</div>

		{% endif %}
		{% endfor %}

	</div>


	<h1 class="mt-3">Arts & Humanities</h1>
	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

		{% for post in posts %}
		{% if post.subject.category|stringformat:'s' == "Arts & Humanities" %}
		<div class="card card-block m-3 border-0 shadow" style='width:23rem;'>
			<div class="col-sm">
				<div class="card-body">
					<h3><a class="card-title stretched-link" id="title"
							href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
								{{post.subject}}</span></a>
					</h3>
					<p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} - 
					{% if post.quiet_tag %}
						<i class="fas fa-volume-mute"></i>
					{% else %}
						<i class="fas fa-microphone"></i>
					{% endif %}

					{% if post.camera_tag %}
						<i class="fas fa-video-slash"></i>
					{% else %}
						<i class="fas fa-camera"></i>
					{% endif %}
					</p>
					<p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}"> <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
					<p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
				</div>
			</div>
		</div>

		{% endif %}
		{% endfor %}

	</div>

<h1 class="mt-3">Computing</h1>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

	{% for post in posts %}
	{% if post.subject.category|stringformat:'s' == "Computing" %}
	<div class="card card-block m-3 border-0 shadow" style='width:23rem;'>
		<div class="col-sm">
			<div class="card-body">
				<h3><a class="card-title stretched-link" id="title"
						href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
							{{post.subject}}</span></a>
				</h3>
					<p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} - 
					{% if post.quiet_tag %}
						<i class="fas fa-volume-mute"></i>
					{% else %}
						<i class="fas fa-microphone"></i>
					{% endif %}

					{% if post.camera_tag %}
						<i class="fas fa-video-slash"></i>
					{% else %}
						<i class="fas fa-camera"></i>
					{% endif %}
					</p>
				<p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}"> <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
				<p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
			</div>
		</div>
	</div>

	{% endif %}
	{% endfor %}

</div>


<h1 class="mt-3">Economics</h1>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

	{% for post in posts %}
	{% if post.subject.category|stringformat:'s' == "Economics" %}
	<div class="card card-block m-3 border-0 shadow" style='width:23rem;'>
		<div class="col-sm">
			<div class="card-body">
				<h3><a class="card-title stretched-link" id="title"
						href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
							{{post.subject}}</span></a>
				</h3>
					<p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} - 
					{% if post.quiet_tag %}
						<i class="fas fa-volume-mute"></i>
					{% else %}
						<i class="fas fa-microphone"></i>
					{% endif %}

					{% if post.camera_tag %}
						<i class="fas fa-video-slash"></i>
					{% else %}
						<i class="fas fa-camera"></i>
					{% endif %}
					</p>
				<p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}"> <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
				<p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
			</div>
		</div>
	</div>

	{% endif %}
	{% endfor %}

</div>

<h1 class="mt-3">Test Prep</h1>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

	{% for post in posts %}
	{% if post.subject.category|stringformat:'s' == "Test Prep" %}
	<div class="card card-block m-3 border-0 shadow" style='width:23rem;'>
		<div class="col-sm">
			<div class="card-body">
				<h3><a class="card-title stretched-link" id="title"
						href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
							{{post.subject}}</span></a>
				</h3>
					<p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} - 
					{% if post.quiet_tag %}
						<i class="fas fa-volume-mute"></i>
					{% else %}
						<i class="fas fa-microphone"></i>
					{% endif %}

					{% if post.camera_tag %}
						<i class="fas fa-video-slash"></i>
					{% else %}
						<i class="fas fa-camera"></i>
					{% endif %}
					</p>
				<p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}"> <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
				<p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
			</div>
		</div>
	</div>

	{% endif %}
	{% endfor %}

</div>
</div>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-2" href="https://www.instagram.com/zal_weng/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-2" href="https://www.linkedin.com/in/alan-weng-4a0641179/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-2" href="https://github.com/Vortes" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2021 Study Buddies, Inc. Made with care ♡
  </div>
</footer>

{%endblock content%}
