{%extends 'post/base.html'%}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'post/css/info.css' %}">
<link rel="stylesheet" href="{% static 'post/css/home.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@519&display=swap" rel="stylesheet">
{% endblock header %}

{%block content%}
<main class="page-wrapper">
    <section class="container mb-3 my-md-0 py-5 py-md-6">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-5 order-md-1 order-2 text-md-start text-center">
                <h1 class="display-4 mb-lg-4 mb-3">
                    Study Buddies
                </h1>
                <h2 class="mb-lg-5 mb-4 text-muted">
                    Find your Study Group, Made For Students. Built By Students
                </h2>
                <div class="text-nowrap">
                    <a class="custom-btn btn btn-translucent-primary me-3" href="">Get Started</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-2 order-1 mb-md-0 mb-grid-gutter">
                <img src="{% static 'post/images/info-logo.svg' %}">
            </div>
        </div>
    </section>

    <div class="mb-5"></div>

    <section class="bg-faded-primary position-relative py-md-7 py-5">
        <div class="container my-2 my-md-0">
            <div class="row align-items-center">
                <div class="col-md-5 mb-md-0 mb-5 pb-md-0 pb-3">
                    <img src="{% static 'post/images/03.svg' %}" alt="" class="d-block mx-md-0 mx-auto">
                </div>

                <div class="col-lg-6 offset-lg-1 col-md-7 text-md-start text-center my-3">
                    <div class="mx-md-0 mx-auto" style="max-width: 500px;">
                        <h2 class="mb-md-5 mb-4">How To Get Started</h2>
                        <div class="d-md-flex align-items-start d-block mb-4 pb-2">
                            <i class="fas fa-search me-md-4 mb-md-0 mb-4 pt-1"></i>
                            <div class="ps-md-2">
                                <h3 class="h5 mb-2">Searching</h3>
                                <p class="mb-0 fs-sm">Choose the subject, the maximum amount of people in the group, as well as whether you want the group's camera or mic to be turned off or not.</p>
                            </div>
                        </div>
                        <div class="d-md-flex align-items-start d-block mb-4 pb-2">
                            <i class="fas fa-link me-md-4 mb-md-0 mb-4"></i>
                            <div class="ps-md-2">
                                <h3 class="h5 mb-2">Joining Groups</h3>
                                <p class="mb-0 fs-sm">When you join a group, you will see the groups link (Zoom, Google Meets, Etc..)</p>
                            </div>
                        </div>
                        <div class="d-md-flex align-items-start d-block">
                            <i class="fas fa-plus me-md-4 mb-md-0 mb-4"></i>
                            <div class="ps-md-2">
                                <h3 class="h5 mb-2">Create Your Own Group</h3>
                                <p class="mb-0 fs-sm">If you cant seem to find what you need, you can always create your own group! Remember to put in a link so others can join your meeting!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape shape-top shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z">
                </path>
            </svg>
        </div>

    </section>

    <div class="mb-5"></div>
    <section class="container">
    {% if enough_posts %}
    {% for post in recent_posts %}
        <div class="card card-block m-3 border-0 shadow overflow-auto" style='width:23rem;'>
			<div class="col-sm">
				<div class="card-body">
					<h3><a class="card-title stretched-link" id="title"
							href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
								{{post.subject}}</span></a>
					</h3>
					<p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} - 
					{% if post.quiet_tag %}
						<i class="fas fa-volume-mute"></i>
					{% else %}
						<i class="fas fa-microphone"></i>
					{% endif %}

					{% if post.camera_tag %}
						<i class="fas fa-video-slash"></i>
					{% else %}
						<i class="fas fa-camera"></i>
					{% endif %}
					</p>
					<p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}"> <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
					<p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
				</div>
			</div>
		</div>
        {% endfor %}
    {% else %}
        <h1>Not enough posts</h1>
    {% endif %}

    </section>
    <div class="mb-5"></div>

    <section class="container pb-5 mb-md-4 pb-md-7">
        <div class="row align-items-center">
            <div class="col-md-6 offset-lg-1 order-md-2">
                <img src="{% static 'post/images/illustration02.svg' %}" class="d-block mx-md-0 mx-auto">
            </div>
            <div class="col-md-6 col-lg-5 order-md-1 pt-4 pt-md-0">
                <h2 class="mt-4 mb-5 text-center text-md-start">What Students Say About Us</h2>
                <blockquote class="blockquote mx-1">
                    <i class="fas fa-quote-left"></i>
                    <p>
                        wow, this is actually an amazing idea, especially when we’re all here in the pandemic!
                    </p>
                    <footer class="blockquote-footer py-2">
                        Feedback from Reddit
                    </footer>
                </blockquote>

                <blockquote class="blockquote mx-1">
                    <i class="fas fa-quote-left"></i>
                    <p>
                        This has the potential to help millions of students... especially during virtual schooling
                    </p>
                    <footer class="blockquote-footer py-2">
                        Feedback from Reddit
                    </footer>
                </blockquote>

                <blockquote class="blockquote mx-1">
                    <i class="fas fa-quote-left"></i>
                    <p>
                        Simple and straight to the point.
                    </p>
                    <footer class="blockquote-footer py-2">
                        Study Buddies User
                    </footer>
                </blockquote>
            </div>
        </div>
    </section>


    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-2" href="https://www.instagram.com/zal_weng/" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-2" href="https://www.linkedin.com/in/alan-weng-4a0641179/" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-2" href="https://github.com/Vortes" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Study Buddies, Inc. Made with care ♡
        </div>
      </footer>

</main>

{%endblock content%}