{%extends 'post/base.html'%}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'post/css/detail.css' %}">
{% endblock header %}

{%block content%}
<div class="container">

	<div class="mt-3 header">
		<p id="date" class="mb-0">{{detail.date_posted|date:"F, d Y"}}</p>
		<h1 class="pb-2"><strong class="detail-title">{{detail.title}}</strong><span class="post-tag"> | {{detail.subject}}</span>
		</h1>
		{% if request.user.profile.participating_in|stringformat:'s' == detail.title|stringformat:'s' %}
			<h4 class="pb-2 link">Group Link: {{detail.content}}</h4>
		{% endif %}
		<p><img class="rounded-circle post-img mt-2" src="{{detail.author.profile.image.url}}"> <strong class="px-2">{{detail.author.first_name}} {{detail.author.last_name}}</strong></p>
		<p>{{detail.author}}</p>
	</div>
	</div>

	<div class="current-buddies">
	<div class="container">
	<h3 class="mt-4">Current Buddies</h3>
	<div class="scrolling-wrapper row flex-row flex-nowrap">
	{% for participant in participants %}
	{% if participant.participating_in|stringformat:'s' == detail.title|stringformat:'s' %}

		<div class="card card-block m-3 mx-2 border-0 shadow overflow-auto text-center" >
			<div class="col-sm">
				<div class="card-body">
					<a href="{% url 'public-profile' participant.user.id %}">
						<img class="rounded-circle mt-2" id="profile-img-card" src="{{participant.user.profile.image.url}}">
					</a>
					<p class="pt-3 mb-0"><strong >{{participant.user.first_name}} {{participant.user.last_name}} </strong></p>
					<p>{{participant.user}}</p>
				</div>
			</div>
		</div>
	{% endif %}
	{% endfor %}
	</div>
	{% if detail.author == user %}
		<a class="btn btn-danger mb-4" href="{% url 'post-delete' detail.id %}">Leave Group</a>
		<a class="btn btn-primary mb-4" href="{% url 'post-update' detail.id %}">Update</a>
	{% else %}
	{% if user.profile.participating_in|stringformat:'s' == detail.title|stringformat:'s'  %}
	<form method="post">
		{% csrf_token %}
		<button type="submit" name="leave_group" class="btn btn-danger mb-4" value="{{ detail.id }}">Leave Group</button>
	</form>
	{% else %}
	<form method="post">
		{% csrf_token %}
		<button type="submit" name="join_group" class="btn btn-primary mb-4" value="{{ detail.id }}">Join Group</button>
	</form>
	{% endif %}
	{% endif %}


	</div>
</div>


<section class="section">
        <div class="container mt-3">
            <div class="">
                <div id="chat-messages" style="max-height: 300px; overflow-y: scroll;">{% for chat in chats %}<b>{{ chat.firstName }}</b>: {{ chat.content }}<br>{% endfor %}</div>
            </div>
            <div>
                <input type="text" class="form-control input" placeholder="Message" id="chat-message-input">
            </div>
            
            <a id="chat-message-submit" class="btn btn-primary mt-3">Submit</a>

		</div>
    </section>



{{detail.pk|json_script:"json-post-pk"}}
{% if user.is_authenticated %}
	{{request.user.first_name|json_script:"json-first-name"}}
{% endif %}

<script src="{% static 'post/javascript/script.js' %}"></script>

{%endblock content%}


