{%extends 'post/base.html'%}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'post/css/post-card.css' %}">
{% endblock header %}

{%block content%}
<div class="container">
		<div class="row">
		<div class="container mt-4">
			<h3 class="pb-2">Showing {{num_of_posts}} groups </h3>
			<hr>
		</div>
			<form method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary mb-4" value="{{ query }}">Posts</button>
				<button type="submit" name="search_user" class="btn btn-primary mb-4" value="{{ query }}">Users</button>
			</form>
			{% if posts %}
			{% for post in posts %}
				{% include 'post/snippets/card-information.html' %}
			{% endfor %}
		{% else %}
		<h3 class="title mt-3"><i class="fas fa-search"></i> We couldn't find any groups matching '{{query}}'</h3>
		{% endif %}
		</div>

</div>
{%endblock content%}



