{%extends 'post/base.html'%}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'post/css/home.css' %}">
{% endblock header %}

{%block content%}
<div class="container">
		<div class="row">
			<form method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary mb-4" value="{{ query }}">posts</button>
			</form>
			{% if users %}
			<h1 class="mt-3">Search Results</h1>
			{% for user in users %}
                <p>{{user}}</p>
		{% endfor %}
		{% else %}
		<h1 class="title mt-3">Sorry, your search returned no users</h1>
		{% endif %}
		</div>

</div>
{%endblock content%}



