{%extends 'post/base.html'%}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'users/css/login_register.css' %}">
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock header %}

{%block content%}
<div class="container">
<div class="bg-light p-5 rounded m-3 profile-body">
    {% if friend_requests %}
        {% for friend in friend_requests %}
        <p>{{friend.sender.first_name}}</p>
        <img class="rounded-circle mt-2" id="profile-img-card" src="{{friend.sender.profile.image.url}}">
        <span id="id_cancel_{{friend.sender.id}}" onclick='triggerAcceptFriendRequest("{{ request.id }}")'>Accept</span>
        <span id="id_cancel_{{friend.sender.id}}" onclick='triggerDeclineFriendRequest("{{ request.id }}")'>Decline</span>
        {% endfor %}
    {% else %}
    <p>no friend requests</p>
    {% endif %}
</div>
</div>

{%endblock content%}

