{%extends 'post/base.html'%}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/users/css/login_register.css' %}"> 
{% endblock header %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" id="login-bg"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Password Reset</h3>
                            <div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Reset Password</legend>
                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="mt-2 form-group">
                                        <button class="btn btn-outline-info mb-3" type="submit">Request Password Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


