{%extends 'post/base.html'%}
{%load crispy_forms_tags%}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'users/css/login_register.css' %}">
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock header %}

{%load crispy_forms_tags%}
{%block content%}
<div class="profile-container">

  <div class="row row-cols-1">
    <div class="col col-md-4 col-lg-3">

    </div>

    <div class="col col-lg-9 px-4">
      <ul id="profile-nav" class="nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'profile' %}"> <i class="fas fa-cog"></i> <span class="nav-profile">Edit Profile</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list-friends' user.id %}"><i class="fas fa-user-friends"></i> <span class="nav-profile">Buddies</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list-friend-requests' user.id %}"><i class="fas fa-bell"></i> <span class="nav-profile">Friend Requests</span></a>
        </li>
      </ul>
      <hr class="mt-1">
    </div>
  </div>

  <div class="row row-cols-1">
    <div class="col col-md-4 col-lg-3">
      <!-- Profile Info Section -->
      {% include 'users/snippets/profile-info-snippets.html' %}
    </div>
    <div class="col col-md-8 col-lg-9">
      <div class="card border-0 card-block-info">
        <div class="card-body card-info">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend id="nav-heading" class="mb-4">Edit User Information</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="mt-3 btn btn-primary" type="submit">Update</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  function onFriendRequestAccepted() {location.reload()}
  function onFriendRequestDeclined() {location.reload()}

  function triggerAcceptFriendRequest(friend_request_id) {
      acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
  }

  function triggerDeclineFriendRequest(friend_request_id) {
      declineFriendRequest(friend_request_id, onFriendRequestDeclined)
  }

</script>

{#% include 'users/snippets/decline_friend_request.html' %#}
{% include 'users/snippets/accept_friend_request.html' %}

{%endblock content%}

