{%extends 'post/base.html'%}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'users/css/login_register.css' %}">
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock header %}

{%block content%}

<div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>


<div class="container mt-5">
<div class="bg-light p-5 rounded m-3 profile-body">
  <h1 class="">{{ profile.username }}</h1>
  <img id="account_img" class="rounded-circle shadow account-img" src="{{ other_profile_url }}">
    <a class="btn btn-primary" href="{% url 'list-friends' profile.id %}">
      <p>Friends ({{friends|length}})</p>
    </a>
  <div class="account-body">
  </div>

  {% if request.user.is_authenticated %}

    {% if request_sent == 0 %}
      <div>
        <p>accept friend request</p>
      </div>

      <span id="id_cancel_{{id}}" class="btn-btn-danger" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Decline</span>
      <span id="id_confirm_{{id}}" class="btn-btn-danger" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>Accept</span>
    {% endif %}

    {% if is_friend == False %}
      {% if request_sent == 1 %}
        <button class="btn btn-danger" id="id_cancel_friend_request_btn">Cancel Friend Request</button>
      {% endif %}

      {% if request_sent == -1 %}
        <button class="btn btn-primary" id="id_send_friend_request_btn">Add Friend</button>
      {% endif %}
    {% endif %}

    {% if is_friend %} 
      <a href="#", onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
    {% endif %}
  {% endif %}

</div>
</div>

<script type="text/javascript">
 
  function onFriendRequestSent() {location.reload()}
  function onFriendRequestCancelled() {location.reload()}
  function onFriendRemoved() {location.reload()}
 


  var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
  if (sendFriendRequestBtn != null) {
      sendFriendRequestBtn.addEventListener("click", function(){
          sendFriendRequest("{{id}}", onFriendRequestSent)
      })
  }

  var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
  if (cancelFriendRequestBtn != null) {
      cancelFriendRequestBtn.addEventListener("click", function(){
        cancelFriendRequest("{{id}}", onFriendRequestCancelled)
      })
  }

  var removeFriendBtn = document.getElementById("id_unfriend_btn")
  if (removeFriendBtn != null) {
    removeFriendBtn.addEventListener("click", function() {
      removeFriend("{{id}}", onFriendRemoved)
    })
  }

  function triggerAcceptFriendRequest(friend_request_id) {
    acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
  }

  function triggerDeclineFriendRequest(friend_request_id) {
    declineFriendRequest(friend_request_id, onFriendRequestDeclined)
  }

</script>

{% include 'users/snippets/send_friend_request.html' %}
{% include 'users/snippets/accept_friend_request.html' %}
{% include 'users/snippets/decline_friend_request.html' %}
{% include 'users/snippets/cancel_friend_request.html' %}
{% include 'users/snippets/remove_friend.html' %}

{%endblock content%}

