{%extends 'post/base.html'%}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'users/css/login_register.css' %}">
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock header %}

{%block content%}
<div class="profile-container">

    <div class="row row-cols-1">
        <div class="col col-md-4 col-lg-3">

        </div>

        <div class="col col-lg-9 px-4">
            <!-- different nav options depending on if user is looking at own friend list or other person friend list -->
            {% if request.user == profile %}
            <ul id="profile-nav" class="nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'profile' %}"> <i class="fas fa-cog"></i>
                        <span class="nav-profile">Edit Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-friends' user.id %}"><i class="fas fa-user-friends"></i>
                        <span class="nav-profile">Buddies</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-friend-requests' user.id %}"><i class="fas fa-bell"></i>
                        <span class="nav-profile">Friend Requests</span></a>
                </li>
            </ul>
            {% else %}
            <ul id="profile-nav" class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'public-profile' profile.id %}"><i class="fas fa-bookmark"></i>
                        <span class="nav-profile">Current Group</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-friends' profile.id %}"><i class="fas fa-user-friends"></i>
                        <span class="nav-profile">Buddies</span></a>
                </li>
            </ul>
            {% endif %}

            <hr class="mt-1">
        </div>
    </div>

    <div class="row row-cols-1">
        <div class="col col-md-4 col-lg-3">
            <!-- Profile Info Section -->
            <div class="card card-block border-0 shadow ">
                <div class="container mt-2">
                    <img id="account_img" class="rounded-circle shadow account-img" src="{{ other_profile_url }}">
                    <div class="mt-2">
                        <h2 class="card-title mb-0">{{ profile.first_name }} {{ profile.last_name }}</h2>
                        <p id="username">{{profile.username}}</p>
                        <a id="num-buddies" href="{% url 'list-friends' profile.id %}">
                            <p><i class="fas fa-user-friends"></i> <span class="fw-bold">{{friends|length}}</span>
                                Buddies</p>
                        </a>
                        {% if friend_requests %}
                        <a class="btn btn-primary" href="{% url 'list-friend-requests' profile.id %}">
                            <p>Friend Requests ({{friend_requests|length}})</p>
                        </a>
                        {% endif %}

                        {% if request.user.is_authenticated %}

                            {% if request_sent == 0 %}
                              <div>
                                <p>Accept friend request</p>
                              </div>

                              <span id="id_cancel_{{id}}" class="btn-btn-danger" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Decline</span>
                              <span id="id_confirm_{{id}}" class="btn-btn-danger" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>Accept</span>
                            {% endif %}

                            {% if is_friend == False %}
                              {% if request_sent == 1 %}
                                <button class="btn btn-danger" id="id_cancel_friend_request_btn">Cancel Friend Request</button>
                              {% endif %}

                              {% if request_sent == -1 %}
                                <button class="btn btn-primary" id="id_send_friend_request_btn">Add Friend</button>
                              {% endif %}
                            {% endif %}

                            {% if is_friend %} 
                              <a class="btn btn-danger" href="#", onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
                            {% endif %}
                          {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-8 col-lg-9">
            <div class="card border-0 card-block-info">
                <div class="card-body card-info px-0">


                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
 
  function onFriendRequestSent() {location.reload()}
  function onFriendRequestCancelled() {location.reload()}
  function onFriendRemoved() {location.reload()}
 


  var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
  if (sendFriendRequestBtn != null) {
      sendFriendRequestBtn.addEventListener("click", function(){
          sendFriendRequest("{{id}}", onFriendRequestSent)
      })
  }

  var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
  if (cancelFriendRequestBtn != null) {
      cancelFriendRequestBtn.addEventListener("click", function(){
        cancelFriendRequest("{{id}}", onFriendRequestCancelled)
      })
  }

  var removeFriendBtn = document.getElementById("id_unfriend_btn")
  if (removeFriendBtn != null) {
    removeFriendBtn.addEventListener("click", function() {
      removeFriend("{{id}}", onFriendRemoved)
    })
  }

  function triggerAcceptFriendRequest(friend_request_id) {
    acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
  }

  function triggerDeclineFriendRequest(friend_request_id) {
    declineFriendRequest(friend_request_id, onFriendRequestDeclined)
  }

</script>

{% include 'users/snippets/send_friend_request.html' %}
{% include 'users/snippets/accept_friend_request.html' %}
{% include 'users/snippets/decline_friend_request.html' %}
{% include 'users/snippets/cancel_friend_request.html' %}
{% include 'users/snippets/remove_friend.html' %}

{%endblock content%}

