/* 
----- SCROLLING -----
*/
html {
	scroll-behavior: smooth;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/* 
----- SEARCH FORM -----
*/

#search-form {
	background-color: rgb(246, 247, 248) 
}