/* 
----- TYPOGRAPHY -----
*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: .75rem;
    font-weight: 450;
    line-height: 1.2;
    color: #4a4b65;
}

p {
    font-weight: 450;
}
