<div class="card card-block m-3 border-0 shadow overflow-auto" style='width:23rem;'>
    <div class="col-sm">
        <div class="card-body">
            <h3><a class="card-title stretched-link" id="title"
                    href="{% url 'post-detail' post.pk %}">{{post.title}}<span class="post-tag"> |
                        {{post.subject}}</span></a>
            </h3>
            <p class="card-subtitle card-date mb-2 pr-2">{{post.date_posted|date:"F, d Y"}} -
                {% if post.quiet_tag %}
                <i class="fas fa-volume-mute"></i>
                {% else %}
                <i class="fas fa-microphone"></i>
                {% endif %}

                {% if post.camera_tag %}
                <i class="fas fa-video-slash"></i>
                {% else %}
                <i class="fas fa-camera"></i>
                {% endif %}
            </p>
            <p><img class="rounded-circle post-img" src="{{post.author.profile.image.url}}">
                <strong>{{post.author.first_name}} {{post.author.last_name}}</strong></p>
            {% if post.max_buddies == 10000 %}
            <p>Total Buddies: {{post.num_participants}} / Unlimited </p>
            {% else %}
            <p>Total Buddies: {{post.num_participants}} / {{post.max_buddies}}</p>
            {% endif %}
        </div>
    </div>
</div>


