.account-body {
    background-color: rgb(249, 250, 252)
}

.card-block{
	top: 0;
	height: 500px;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-transform: capitalize;
}

.card-block-info{
	height: 500px; 
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-transform: capitalize;
}

.account-img {
    height: 190px;
    width: 190px;
	object-fit: cover;
}

.profile-container {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.nav-profile {
	padding-left: 5px;
}

#username {
	font-weight: 400;
	font-size: 1.3rem;
	color: rgb(92, 98, 107);
}

#num-buddies {
	color: rgb(92, 98, 107);
	text-decoration: none;
}

#num-buddies:hover {
	color: rgb(43, 108, 208);
}

#profile-nav i {
	color: rgb(92, 98, 107);
}

#profile-nav a {
	color: rgb(38, 41, 46);
}

#nav-heading {
	font-size: 1.2rem;
}

#profile-img-card {
	width: 3.5rem;
	height: 3.5rem;
	object-fit: cover;
}

#friend-name {
	text-decoration: none;
	color: rgb(38, 41, 46);
}

#friend-name:hover {
	color: rgb(38, 112, 231);
}

.nav-link {
	padding-left: 0px;
	padding-right: 2rem;
}

#post-card {
	top: 0;
	height: 250px;
	background-position: center;
	background-size: cover;
	transition: top ease 0.2s;
	border-radius: 24px;
	text-transform: capitalize;
}

#profile-description {
	font-weight: 400;
	font-size: 1rem;
	color: rgb(74, 78, 85);
}

#post-card:hover {
	top: -8px;
}

#profile-block {
	height: 500px !important;
}

.card-block:hover {
	top: 0px !important;
}

a {
	text-decoration: none;
	color: rgb(56,54,77);
}

.card-date {
	color: rgb(224, 105, 78);
}

.post-tag {
	color: rgb(219, 48, 105);
}

.post-img {
	height: 28px;
    width: 28px;
	object-fit: cover;
    margin-right: 10px;
}

@media only screen and (max-width: 360px) {
	#friends-list-section {
	  margin-top: 3rem;
	}
}

